@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

:root {
  --byway-blue: #3b82f6;
  --byway-p-text: #334155;
  --byway-black: #0f172a;
  --byway-nav-text: #334155;
}

* {
  padding: 0;
  margin: 0;
  font-family: "DM Sans", sans-serif;
}

body {
  scroll-behavior: smooth;
  box-sizing: border-box;
  color: var(--byway-black);
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  padding: 20px 2.5rem;
  border-bottom: 1px solid #000;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 3rem;
}

header nav input {
  width: 622px;
  height: 40px;
  padding-left: 40px;
}

header nav input::placeholder {
  font-size: 14px;
  font-weight: 500;
}

header nav div:first-of-type {
  position: relative;
}

header nav div:first-of-type .bx-search-alt-2 {
  font-size: 16px;
  color: var(--byway-nav-text);
  position: absolute;
  top: 28%;
  left: 15px;
}

header nav div:first-of-type input {
  border: 1px solid var(--byway-nav-text);
  border-radius: 8px;
}

header nav div:first-of-type input:focus {
  outline: none;
}

header nav div:last-of-type {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 18px;
}

header nav div:last-of-type .bx-cart-alt {
  font-size: 24px;
}

header nav div:last-of-type button:first-of-type {
  width: 61px;
  height: 40px;
  background-color: transparent;
  border: 1px solid var(--byway-nav-text);
  transition: all 0.3s ease-in-out;
}

header nav div:last-of-type button:first-of-type:hover {
  background-color: var(--byway-nav-text);
  color: #fff;
  cursor: pointer;
}

header nav div:last-of-type button:last-of-type {
  width: 61px;
  height: 40px;
  color: #fff;
  background-color: var(--byway-nav-text);
  transition: all 0.3s ease-in-out;
}

header nav div:last-of-type button:last-of-type:hover {
  background-color: transparent;

  color: var(--byway-nav-text);
  cursor: pointer;
}
#toggle_menu {
  display: none;
}
main {
  display: flex;
  gap: 10px;
}
/* form section begins */
main section:first-of-type {
  left: 150px;
  padding-block: 250px;
  position: absolute;
}
main section:first-of-type h2 {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}
main section:first-of-type form label {
  display: block;
  margin-block: 20px;
  font-size: 18px;
  font-weight: 600;
  color: #0f172a;
}

.form_div input[type="password"],
.form_div input[type="email"] {
  width: 620px;
  padding: 8px;
  border-radius: 4px;
}
main section:first-of-type form button {
  color: #fff;
  width: 180px;
  background-color: #020617;
  padding: 8px;
  border-radius: 6px;
  font-size: 16px;
  margin-block: 20px;
}
.form_div span {
  text-align: center;
  color: #e2e8f0;
  font-size: 14px;
}
.span_div {
  display: flex;
  width: 690px;
  align-items: center;
  gap: 5px;
}
.span_div span {
  color: #94a3b8;
}
.span_div hr {
  width: 265px;
  border: 1px solid #94a3b8;
}
.socialbtn button {
  padding: 10px;
  border: 1px solid #b2b5c4;
  background-color: transparent;
  border-radius: 8px;
  width: 210px;
  height: 40px;
  cursor: pointer;
}
/* form section ends */
main section:last-of-type img {
  position: relative;
  left: 950px;
}
/* media query */
@media (max-width: 700px) {
  ul,
  li {
    display: none;
  }
  header {
    padding: 20px 35px;
  }
  header nav div:first-of-type input {
    display: none;
  }
  header nav div:first-of-type .bx-search-alt-2 {
    display: none;
  }

  header nav div:last-of-type {
    display: none;
  }

  #toggle_menu {
    cursor: pointer;
    display: block;
  }

  #toggle_menu i {
    font-size: 40px;
  }
  main {
    margin-inline: auto;
  }
  main section:first-of-type {
    display: block;
    left: 10px;
    padding-block: 35px;
    margin-inline: 15px;
  }
  main section:first-of-type h2 {
    font-size: 28px;
    font-weight: bold;
    text-align: start;
  }
  main section:last-of-type form label {
    /* display: block; */
    margin-block: 5px;
    font-size: 18px;
    font-weight: 600;
    color: #0f172a;
  }
  .form_div {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .form_div input[type="email"],
  .form_div input[type="password"] {
    width: 310px;
    padding: 8px;
    border-radius: 4px;
  }
  main section:last-of-type form button {
    color: #fff;
    width: 180px;
    background-color: #020617;
    padding: 8px;
    border-radius: 6px;
    font-size: 16px;
    margin-block: 20px;
  }
  .span_div hr {
    width: 150px;
    border: 1px solid #94a3b8;
  }
  .socialbtn {
    display: flex;
    flex-wrap: wrap;
  }
  .socialbtn button {
    padding: 10px;
    border: 1px solid #b2b5c4;
    background-color: transparent;
    border-radius: 8px;
    width: 180px;
    height: 40px;
    margin-block: 10px;
    margin-inline: 100px;
  }
  main section:last-of-type{
    display: none;
  }
}
@media (min-width: 701px) and (max-width: 1024px) {
  ul,
  li {
    display: none;
  }
  header {
    padding: 20px 4rem;
  }
  header nav div:first-of-type input {
    display: none;
  }
  header nav div:first-of-type .bx-search-alt-2 {
    display: none;
  }

  header nav div:last-of-type {
    display: none;
  }

  #toggle_menu {
    cursor: pointer;
    display: block;
  }

  #toggle_menu i {
    font-size: 40px;
  }

  main {
    margin-top: 1rem;
  }
}
@media (min-width: 1990px) {
  body {
    width: 70%;
    margin: auto;
  }
  #toggle_menu {
    cursor: pointer;
    display: none;
  }
  main section:first-of-type {
    margin: auto;
    left: 500px;
  }
}
